*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
}
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.onebtn{
    padding: 15px 30px;
}
.navdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0 30px 0;
}
.navone{
    display: flex;
    align-items: center;
}
.navone h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.navtwo ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.navfour{
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 30px;
    color: #3C354F;
    /* text-align: center; */
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.navone img{
    width: 90px;
    height: 45px;
    padding-right: 10px;
}
.spanone{
    color: #F144AE;
}
/* #spantwo{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px; */
/* } */
#spanfour{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    gap: 15px;
}
#spanfour img{
    width: 20px;
    
}
/* nav section end here  */

.headcontainer{
    background-image: url(./images/Group\ 14.png);
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-size: 51vw 73vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding: 40px; */
}

.onebtn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;
}
.twobtn{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 40px;
    border-radius: 40px;
    background: #4EC5F7;
    border: none;
}
.onediv{
    padding-bottom: 20px;
    /* background-image: url(./images/Group\ 14.png); */
}
.oneimage{
    /* padding-top: 20px; */
    padding-bottom: 0px;
}
.oneimage img{
    width: 500px;
    /* padding-top: 20px; */
    /* height: 400px; */
    padding-bottom: 0px;
}
.onediv h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.onediv h1{
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.onediv p{
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 0px 10px 0px;
}
/* header section end here  */

.sectionfirst{
    background: #f1e3eb88;
    
    height: 600px;
}
.twomore{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.twodiv img{
    width: 600px;
    padding-top: 100px;
    padding-left: 80px;
}
.twohead h3{
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 20px;
}
.twopara{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}
.twohead button{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 15px 40px;
    border: none;
}
.twohead{
    text-align: right;
    padding-top: 100px;
    padding-right: 80px;
}
#paratwo{
    font-weight: bolder;
}
.twosecondpara{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 24px;
font-weight: 500;
line-height: 45px;
padding-top: 25px;
}
.headpara{
    text-align: center;
}
.headpara h3{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 20px;
}
#spanthre{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.headpara p{
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 30px;
}

.container{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.tag{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #e70a7d;
    position: absolute;
    bottom: 90px;
    left: 35px;
}
.onecard{
    width: 240px;
    height: 280px;
    background-image: url(./images/Rectangle\ 4\ \(1\)\ \(1\).png);
}
.twocard{
    width: 240px;
    height: 280px;
    background-image: url(./images/Rectangle\ 5\ \(1\)\ \(1\).png);

}
.threcard{
    width: 240px;
    height: 280px;
    background-image: url(./images/Rectangle\ 7\ \(1\)\ \(1\).png);
    position: relative;
}

.fourcard{
    width: 240px;
    height: 280px;
    background-image: url(./images/Rectangle\ 5\ \(1\)\ \(2\).png);
}

.buton{
    position: absolute;
    width: 50px;
    top: 100px;
    left: 100px;
    cursor: pointer;
}
.buton:hover{
    background-color: #0B0223;
    /* background: #0b022317; */
}
.container p{
    padding-top: 290px;
}
.sectionsecond{
    margin-top: 150px;
    padding-left: 150px;
    
}
.sectiontwo{
    margin-top: 80px;
}
.secondcontainer{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}
.imageone{
    width: 450px;
    padding-left: 150px;
}
.imagetwo{
    margin-top: -160px;
    width: 200px;
    padding-left: 70px;
}
.secondimg{
    margin-right: 85px;
}
.head{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.secondtext h3{
    color: #0B0223;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 20px;
}
.secondtext p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.career{
    background-color: #F948B2;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    width: 100%;
    height: 700px;
    margin-top: 100px;
}
.careerone{
    padding-left: 150px;
}
.careermain{
    display: flex;
    align-items: center;
}
.careerflex{
    display: flex;
    justify-content: space-between;
}
.careerhead{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    padding-bottom: 25px;
}
.careerparaone{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}
.careerparatwo{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 25px;
}
.careerparathree{
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}
.careerbtn{
    /* font-family: Work Sans; */
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FFF;
    padding: 15px 40px;
    border: none;
    color: #FF42A5;
}





/* .careercontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
/* .careerfirst p{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
} */
/* .careerfirst h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
} */
/* .careersecond{
    display: flex;
    justify-content: end;
} */
/* .careerimg{
    width: 50%;
    height: 100%;
} */
/* .careerhead{
    /* padding-left: 160px; */
    /* padding-bottom: 30px; */
    
/* } */
/* .careermix{
    text-align: center;
}
.careerpara{
    /* padding-left: 165px; */
    /* padding-bottom: 25px; */
/* } */ 
.careerimg img{
    width: 580px;
    height: 700px;
}
/* .careersecond p{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 25px;
} */
.hovertext{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* .careerthird p{
    color: #FFF;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px */
/* } */
.careersecond button{
    /* font-family: Work Sans;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: #FFF;
    padding: 15px 40px;
    border: none;
    color: #FF42A5; */
}
.secondtext{
    /* padding-right: -50px; */
}
.hola:hover{
    border: 2px solid #FF42A5;
    border-radius: 50px;
    padding: 10px;
    color: #FF42A5;
}
.one{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    /* border: 1px solid #FF42A5;
    border-radius: 50px;
    padding: 10px;
    color: #FF42A5; */
}
/* .one:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    padding: 10px;
    color: #FF42A5;
} */
.two{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
/* .two:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    padding: 10px;
    color: #FF42A5;
} */
.thre{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
/* .thre:hover{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    padding: 10px;
    color: #FF42A5; */
/* } */
.four{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.five{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.six{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.seven{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nine{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.ten{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.sectionfour{
    padding-top: 120px;
    height: 280px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.hmm{
    border: 1px solid #FF42A5;
    border-radius: 50px;
    padding: 10px;
    color: #e70a7d;
    cursor: pointer;
}
.hmm:hover{
    border: 2px solid #FF42A5;
}
/* footer section from here  */

.footerone{
    background: #0B0223;
    height: 550px;
}
.secondpart h3{
    color: white;
    font-size: 45px;
    font-weight: 700;
    
}
.footercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 120px;
}
.footerpara{
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-top: 50px;
}
.paragraph p{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.footericon{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}
.cursor{
    cursor: pointer;
}
.footerlast{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}
.footerlast p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}
.finish{
    padding-top: 20px;
}
.finish P{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}


@media screen and (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    }
    main{
        overflow-x: hidden;
    }
    footer{
        overflow-x: hidden;
    }
    .navdiv, .navtwo ul{
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }
    .headcontainer{
        flex-direction: column;
        justify-content: center;
        background-size: 100% 330px;
    }
    .onediv h3{
        font-size: 30px;
        text-align: center;
        padding-top: 50px;
    }
    .onediv h1{
        font-size: 50px;
        text-align: center;
    }
    .onebtn, .twobtn{
        font-size: 15px;
        padding: 10px 30px;
    }
    .oneimage img{
        width: 80%;
        padding: 50px;
    }
    .twomore{
        flex-direction: column-reverse;
    }
    .twohead{
        padding: 45px;
        text-align: center;
    }
    .twohead h3{
        /* padding-right: 100px; */
        text-align: center;
    }
    .twosecondpara{
        text-align: center;
    }
    .twopara{
        text-align: justify;
    }
    .sectionfirst{
        height: 900px;
    }
    .twodiv img{
        width: 80%;
        padding: 40px;
    }
    .headpara h3{
        padding: 10px;
    }
    .headpara p{
        padding: 10px;
    }
    .container{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        gap: 70px;
    }
    .secondcontainer{
        flex-direction: column;
    }
    .secondtext{
        text-align: center;
        padding-bottom: 30px;
        padding-right: 130px;
    }
    .secondimg{
        padding-right: 130px;
    }
    .imageone{
        width: 300px;
    }
    .imagetwo{
        width: 130px;
        margin-top: -100px;
    }
    .career{
        height: 1550px;
    }
    .careermain{
        flex-direction: column;  
    }
    .careerone{
        padding-left: 30px;
        padding-top: 50px;
        padding-right: 30px;
    }
    .careerimg img{
        width: 400px;
        padding-top: 50px;
    }
    .careerflex{
        padding-top: 30px;
    }
    .sectionfour{
        height: 650px;
    }
    .footerone{
        height: 600px;
    }
    .footerpara{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 20px 0px 10px 30px;
    }
    .footericon{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0px 20px 70px;
    }
    .footerlast{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px 0px 10px 60px;
    }
    .finish{
        padding: 10px 20px 0px 20px;
    }
}


@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        overflow-x: hidden;
    }
    main{
        overflow-x: hidden;
    }
    footer{
        overflow: hidden;
    }
    .headcontainer{
        flex-direction: column;
        background-size: 100% 420px;
    }
    .oneimage img{
        padding: 70px;
    }
    .onediv{
        padding-top: 50px;
    }
    .sectionfirst{
        height: 1100px;
    }
    .twomore{
        flex-direction: column-reverse;
    }
    .twodiv img{
        padding-right: 80px;
    }
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 150px 0px 170px;
        gap: 70px;
    }
    .secondtext{
        padding-bottom: 50px;
    }
    .sectionsecond{
        /* padding: 0px 500px 0px 100px; */
    }
    .secondcontainer{
        flex-direction: column;
    }
    .imageone{
        /* width: 300px; */
        padding-right: 200px;
    }
    .imagetwo{
        width: 150px;
        padding-top: 50px;
    }
    .careermain{
        flex-direction: column;
    }
    .career{
        height: 1400px;
    }
    .careerone{
        padding: 70px ;
    }
    .careerimg img{
        width: 700px;
    }
    .sectionfour{
        height: 500px;
    }
    .footerpara{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 30px 0px 0px 100px;
    }
    .footerlast{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 50px 100px 0px 180px;
    }
}